* {margin: 0; padding: 0;}
ul {list-style: none;}
main nav {
    text-align: center;
    padding: 1rem 0;
}
main nav h1 {
    color: #0984e3;
    font-size: 5rem;
    font-family: 'Nothing You Could Do', cursive;
}
section.todoOp {
    width: 60%;
    margin: auto;
}
section.todoOp .input-field input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.3rem;
    padding: 1rem 1.2rem;
    letter-spacing: .2px;
    font-family: 'Merriweather';
    color: rgba(45, 52, 54,1.0);
    box-shadow: 2px 2px 3px rgba(45, 52, 54, 0.5);
}
.todo-list-container {
    margin-top: 1rem;
}

.todo-list-container ul li {
    position: relative;
    padding: .85rem .70rem;
    border: 1px solid rgba(223, 230, 233, .5);
    font-family: 'Merriweather';
}
.todo-list-container ul li:first-child {
    border-radius: 4px 4px 0 0;
}

.todo-list-container ul li:last-child {
    border-radius: 0 0 4px 4px;
}

.todo-list-container ul li:hover {
    background-color: #0984e3;
    color: #fff;

}
.todo-list-container ul li i {
    position: absolute;
        right: 1%;
}
.well {
    text-align: center;
    /* background-color: #ececec; */
    border-radius: 4px;
    padding: 4rem 0;
    font-size: 1.5rem;
    /* border: 1px solid #d6d6d6; */
    color: #c5c5c5;
}
